<%- include('partial/header') %>

    <div class="container">
        <form action="/import" method="post">
            <div id="createImport" >
                <div class="mb-3" style="flex-basis: 20%;">
                    <label class="form-label" for="jobno">Job Number</label>
                    <input class="form-control" type="text" name="jobno" placeholder="Enter job no." required>
                </div>
                <div class="mb-3" style="flex-basis: 20%;">
                    <label class="form-label" for="dateonboard">Date on Board</label>
                    <input class="form-control" type="date" name="dateonboard" placeholder="Date on Board" required>
                </div>
                <div class="mb-3" style="flex-basis: 20%;">
                    <label class="form-label" for="eta">ETA Date</label>
                    <input class="form-control" type="date" name="eta" placeholder="Arrival date"  required>
                </div> 
                <div class="mb-3" style="flex-basis: 20%;">
                    <label class="form-label" for="containertype">Container Type</label>
                    <input class="form-control" type="text" name="containertype" placeholder="Container Type" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mblno">Master BL</label>
                    <input class="form-control" type="text" name="mblno" placeholder="Enter MBL no." >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="carrier">Carrier</label>
                    <input class="form-control" type="text" name="carrier" placeholder="Enter carrier name" >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="shipper">Shipper Name</label>
                    <input class="form-control" type="text" name="shipper" placeholder="Enter shipper name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="agent">Agent Name</label>
                    <input class="form-control" type="text" name="agent" placeholder="Enter agnet name" required>
                </div>               
                <div class="mb-3">
                    <label class="form-label" for="origin">Origin</label>
                    <input class="form-control" type="text" name="origin" placeholder="Enter Origin" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="portofloading">Loading Port</label>
                    <input class="form-control" type="text" name="portofloading" placeholder="Enter loading port" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="igmsubmission">IGM Date</label>
                    <input class="form-control" type="date" name="igmsubmission" >
                </div>
                
            </div>               
            <button style="margin-left: 20px;" class="btn btn-success" type="submit">Save</button>
        </form>
  </div>

 
<%- include('partial/footer') %>