<%- include('partial/header') %>

<div class="container">
    <p id="indexHeader"><%= loggedInUser.username %></p>
    <table class="table " id="import">
        <thead class="table-primary">
            <th class="table-data">JOB NO</th>
            <th class="table-data">CONSIGNEE</th>
            <th class="table-data">HOUSE BL</th>
            <th class="table-data">MASTER BL</th>
            <th class="table-data">ON BOARD</th>
            <th class="table-data">ETA</th>
            <th class="table-data">OPTION</th>
        </thead>
        <tbody>
            <td>0001</td>
            <td>SHARK LIMITED</td>
            <td>WBSL0123456789</td>
            <td>MBL9876543210</td>
            <td>10-JAN-2023</td>
            <td>25-DEC-2023</td>
            <td><button class="" type="submit" value="view">DETAILS</button></td>
        </tbody>
        <tbody>
            <td>0002</td>
            <td>IRIS ENTERPRISE</td>
            <td>WBSL01234567810</td>
            <td>MBL9876543211</td>
            <td>19-MAR-2023</td>
            <td>21-JAN-2024</td>
            <td><button class="" type="submit" value="view">DETAILS</button></td>
        </tbody>
    </table>
</div>

<%- include('partial/footer') %>