*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-size: .8rem;
    min-height: 100vh;
}

/* Navbar css start */
nav, .nav-logo, .navul, .navlist, .navlink {
    background-color: #3f7eb1;
}
nav {
    position: relative;
    padding: 10px 150px;
    color: #FFF;
    display: flex;
}
nav h1 {
    display: inline-block;
    font-size: 2rem
}
.navul {
    position: absolute;
    right: 150px;
    margin: 1px;
    padding: 10px;
}
.navlist {
    display: inline;
}
.navlink{
    text-decoration-line: none;
    color: #FFF;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 10px;
}
.navlink:hover{
    background-color: #FFF;
    color: #236296;
}

/* Start css for Create import form */
#createImport {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}

.mb-3{
    width: 300px;
    margin: 10px;
    flex-basis: 20%;
}

.form-label{
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}

/* View Import page css */
#basicData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.import-item {
    /* border: 1px solid darkorchid; */
    flex-basis: 22%;
    margin-bottom: 20px;

}
.item-header, .item-data{
    margin: 0 ;
    padding: 2px;
}
.item-header {
    font-size: 14px;
   font-style: italic;
   color: #3f7eb1;
}

.item-data{
    padding-left: 8px ;
    font-weight: bold;
}


/* Login page css start */
.login, h2, form, .login-form, .form-label {
    color: #4984c7;
}
.login{
    width: 350px;
    margin: 80px auto auto;
    /* border: 1px solid #8fc3ff; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}
.login h2{
    width: fit-content;
    margin: auto;
    padding: 5px 5px 10px;
    font-size: 1.5rem;
}
.login label{
    float: left;
    margin: 2px 8px;
}
#form-input {
    width: 100%;
    padding: 4px;
    margin: 2px 4px 8px;
    border: 1px solid #3876BF;
    border-radius: 5px;
    outline-color: #45a049;
}
.btn {
    border: 1px solid #aaa;
    font-size: 13px;
    /* color: #eee; */
    min-width: 80px ;
    padding: 4px;
    margin: 0 2px;
    border-radius: 4px;
    outline-style: none;
    transition: 0.3s;
}
.btn:hover{
    border: 1px solid #eee;
    background-color: #4a79b6;
    cursor: pointer;
    color: #f8f5f5;
}

/* Style for Index Page */
#indexHeader{
    text-align: center;
    padding: 5px;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto 20px;
    padding: 0px 10px 10px;
    background-color: #FFF
    
};

