<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div>
            <h1>WBSL-IMPORT</h1>
        </div>
        <div>
            <ul class="navul">
                <% if (loggedInUser && loggedInUser.userId) { %>
                    <li class="navlist">
                        <a class="navlink" href="/index">Home</a>
                    </li>
                    <li class="navlist">
                        <a class="navlink" href="/import">New</a>
                    </li>
                    <li class="navlist">
                        <a class="navlink" href="/logout">Logout</a>
                    </li>
                    <li class="navlist">
                        <a  
                            style= "border: 2px solid #FFF;
                                    padding: 2px 5px;
                                    border-radius: 5px; 
                                    font-size: 1.1rem;

                                     ">
                            <%= loggedInUser.username %>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </nav>

