<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body style="min-height: 100vh;">

    <nav style="margin-bottom: 10px;">
        <div>
            <h2 style="color: white; font-weight: bold;">WBSL-IMPORT</h2>
        </div>
        <div>
            <ul class="navul">
                <% if (loggedInUser && loggedInUser.userId) { %>
                    <li class="navlist">
                        <a class="navlink" href="/index">Index</a>
                    </li>
                    <li class="navlist">
                        <a class="navlink" href="/invoice">Invoices</a>
                    </li> 
                    <li class="navlist">
                        <a class="navlink" href="/import">Create</a>
                    </li>                    
                    <li class="navlist">
                        <% if (loggedInUser.role === "admin") { %>
                            <a class="navlink" href="/user">User</a>
                        <% } %>                        
                    </li>                    
                    <li class="navlist">
                        <a class="navlink" href="/logout">Logout</a>
                    </li>
                    <li class="navlist">
                        <a  
                            style= "border-left: 2px solid #ecfc14;
                                    padding: 2px 5px;
                                    color: rgb(223, 223, 223);
                                    font-size: 1.1rem;
                                    font-style: italic;

                                     ">
                            <%= loggedInUser.username %>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </nav>

