<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="index.js"></script>
</head>

<body>
    <nav>
        <h1 class="nav-logo">Company <span style="font-size: 1rem;"><%= loggedInUser.username %></span></h1>
        <ul class="navul">
            <% if (loggedInUser && loggedInUser.userId) { %>
                <li class="navlist">
                    <a class="navlink" href="/index">Home</a>
                </li>
                <li class="navlist">
                    <a class="navlink" href="#new">New</a>
                </li>
                <li class="navlist">
                    <a role="button" class="navlink" onclick="logout()" href="/">Logout</a>
                </li>
                <% } %>
        </ul>
    </nav>
